<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EAGLE CORPORATION</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/scrollToTop.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/fevegal.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/fevegal.png">
</head>
<style>
    @keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-15px);
        }
    }

    .bounce {
        animation: bounce 2s infinite;
    }
</style>

<body>
    <div class="main">
        <nav class="flex items-center justify-between px-6 py-3 border-b-2">
            <div class="left">
                <img class="h-[80px]" src="/images/EAGLE CORPORATION LOGO (Trasnparent)-01.png" alt="">
            </div>
            <div class="right">
                <ul class="flex gap-6 items-center  ">
                    <li class="text-[#16436A] font-bold"><a href="/">Home</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/">About</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/gallery">Gallery</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/contact">Contact</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/login">Login</a></li>
                    <h4><i id="menu-btn" class="ri-menu-line"></i></h4>
                </ul>
            </div>
        </nav>
        <div id="slidebar">
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact">Contact</a>
            <a href="/login">Login</a>
        </div>
        <div class="gallery-content">
            <h1>Gallery</h1>
            <div class="hotel-1">
                <h3 class="text-left font-semibold text-xl mt-4"> 1) 25 B
                    property : </h3>
                <div class="hotel-1-images mt-8 flex flex-wrap justify-center items-center gap-4">
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel1/hotel1img1.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel1/hotel1img2.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel1/hotel1img3.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel1/hotel1img4.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel1/hotel1img5.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel1/hotel1img6.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel1/hotel1img7.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel1/hotel1img8.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel1/hotel1img9.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel1/hotel1img10.jpeg" alt="Room 1 Image 1">
                    </div>

                </div>
            </div>
            <div class="hotel-2">
                <h3 class="text-left font-semibold text-xl mt-4"> 2) 124 A
                    property : </h3>
                <div class="hotel-2-images mt-8 flex flex-wrap justify-center items-center gap-4">
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img1.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img2.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img3.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img4.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img5.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img6.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img7.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img8.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img9.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img10.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img11.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img12.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img13.jpeg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/hotel2/hotel2img14.jpeg" alt="Room 1 Image 1">
                    </div>
                </div>
            </div>

        </div>
        <div id="scroll-to-top" class="bounce" onclick="scrollToTop()">
            <span>&#8593;</span>
        </div>
    </div>

    <!-- Sidebar JS -->
    <script src="/javascripts/sidebar.js"></script>
    <!-- Scroll to top JS -->
    <script src="/javascripts/scrollToTop.js"></script>
</body>

</html>